.tabview .button-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.tabview .button-container button {
  flex: 1;
  min-width: unset;
  height: 111px;
  background-color: #f2f2f2;
  padding: var(--layout-size-l);
  border: none;
  appearance: none;
}

.tabview .button-container button:focus:not(:focus-visible) {
  outline: none
}

.tabview .button-container button[aria-selected='true'] {
  background-color: var(--background-color);
}

.tabview .button-container button img {
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}

.tabview .button-container button:hover img,
.tabview .button-container button:active img,
.tabview .button-container button[aria-selected='true'] img {
  opacity: unset;
}

.tabview .tab-content {
  display: none;
  background-color: var(--background-color);
  overflow: hidden;
}

/* apply theme */
.tabview .tab-content h2 {
  font-size: var(--heading-font-size);
  color: var(--secondary-color);
}

.tabview .tab-content.selected {
  display: block;
}

.tabview .tab-content .default-content-wrapper:first-child {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-l);
  padding: var(--layout-size-l) 50px;
}

.tabview .tab-content .default-content-wrapper:first-child h2,
.tabview .tab-content .default-content-wrapper:first-child p {
  margin: 0;
}

.tabview .tab-content .default-content-wrapper:first-child h2 {
  text-transform: uppercase;
}



