/* tabview program badge */
.tabview .clickable-program-overlay {
  position: absolute;
  width: 15vw;
  height: 15vw;
  margin-top: -15vw;
  background-image: linear-gradient(to bottom right, transparent 50%, var(--background-color) 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left, right;
  right: 64px;
  left: auto;
  z-index: 1;
}

.tabview .clickable-program-overlay > div {
  transform: translateY(7vw) translateX(5vw) rotate(-45deg);
  max-width: 10vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3vw;
  color: var(--secondary-color);
  font-family: var(--heading-font-family);
  line-height: 1.9vw;
}

.tabview .clickable-program-overlay:hover {
  background-image: linear-gradient(to bottom right, transparent 50%, var(--secondary-color) 0);
}

/* tab view */
.tabview-container > div:not(:last-child) {
  padding-bottom: var(--layout-size-xxl);
}

.tabview .clickable-program-overlay:hover > div {
  color: var(--background-color);
}

.tabview {
  --tabview-tab-background-color: #f2f2f2;
}

.tabview .tabs {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.tabview [role="tablist"] button {
  flex: 1;
  min-width: unset;
  height: 111px;
  background-color: var(--tabview-tab-background-color);
  padding: var(--layout-size-l);
  border: none;
  appearance: none;
}

.tabview .button-program-close {
  right: 64px;
  left: auto;
  position: absolute;
  text-align: right;
  z-index: 2;
}

.tabview .button-program-close > button {
  background-color: transparent !important;
  margin-top: 20px;
}

.tabview [role="tablist"] button:focus:not(:focus-visible) {
  outline: none
}

.tabview [role="tablist"] button[aria-selected='true'] {
  background-color: var(--background-color);
}

.tabview [role="tablist"] button img {
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}

/* Handle the Navigation help overlay. */
.tabview.help-open div.tabs,
.tabview.help-open div.active > div:not(.video-wrapper) {
  display: none !important;
}

.tabview [role="tablist"] button:hover img,
.tabview [role="tablist"] button:active img,
.tabview [role="tablist"] button[aria-selected='true'] img {
  opacity: unset;
}

.tabview [role="tabpanel"] {
  --secondary-text-color-background: var(--text-color-background);
  --heading-font-size-px: calc(var(--heading-font-size) * 1px);
  --heading-font-size-min: calc(var(--heading-font-size) * 0.5);
  --heading-font-size-min-px: calc(var(--heading-font-size-min) * 1px);
  --heading-rise: calc(var(--heading-font-size) - var(--heading-font-size-min));
  --heading-slope: calc(var(--heading-rise) / var(--viewport-run));
  --fluid-heading-font-size-px: calc(var(--heading-slope) * (100vw - var(--min-vw-px)) + var(--heading-font-size-min-px));
  --body-font-size-px: calc(var(--body-font-size) * 1px);
  --body-font-size-min: 12px;
  --body-font-size-min-px: var(--body-font-size-min);
  --body-rise: calc(var(--body-font-size) - var(--heading-font-size-min));
  --body-slope: calc(var(--body-rise) / var(--viewport-run));
  --fluid-body-font-size-px: calc(var(--body-slope) * (100vw - var(--min-vw-px)) + var(--body-font-size-min-px));

  display: none;
  background-color: var(--background-color);
  overflow: hidden;
  font-family: var(--body-font-family);
}

/* apply theme */
.tabview [role="tabpanel"]  h2,
.tabview [role="tabpanel"]  h3 {
  font-family: var(--heading-font-family);
  font-size: clamp(var(--heading-font-size-min-px), var(--fluid-heading-font-size-px), var(--heading-font-size-px));
  font-weight: var(--heading-font-weight);
}

.tabview [role="tabpanel"].active {
  display: block;
}

.tabview [role="tabpanel"]  h2 {
  color: var(--secondary-color);
}

.tabview [role="tabpanel"]  p {
  font-family: var(--body-font-family);
  font-size: clamp(var(--body-font-size-min-px), var(--fluid-body-font-size-px), var(--body-font-size-px));
}

.tabview [role="tabpanel"] h2.animate,
.tabview [role="tabpanel"] h3.animate,
.tabview [role="tabpanel"] p:not(.border).animate {
  animation-delay: 0s;
  animation-name: fade-in-right;
}

.tabview [role="tabpanel"] .default-content-wrapper.program-content,
.tabview [role="tabpanel"] .default-content-wrapper:first-child
{
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-l);
  padding: var(--layout-size-l) 50px;
}

.tabview [role="tabpanel"] .default-content-wrapper:first-child h2,
.tabview [role="tabpanel"] .default-content-wrapper:first-child p {
  margin: 0;
}

.tabview [role="tabpanel"] .default-content-wrapper:first-child h2 {
  text-transform: uppercase;
}

.tabview [role="tabpanel"] .default-content-wrapper:first-child p {
  flex: 1;
}

 .tabview [role="tabpanel"] .default-content-wrapper p.border.product {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 3.5vw;
}  

.tabview [role="tabpanel"] .slides-wrapper .slides .stats-group .default-content-wrapper {
  display:block;
  padding: 0;
}

.tabview .button-program-close > button > .icon {
  display: inline-block;
  height: 2.5vw;
  width: 2.5vw;
}

.tabview .button-program-close > button > .icon > svg > use {
  fill: var(--primary-color);
}

/* hide parts of the UI */
.tabview .hidden {
  display: none !important;
}

/* animations */
@media (prefers-reduced-motion: no-preference) {
  .tabview [role="tabpanel"] h2,
  .tabview [role="tabpanel"] h3,
  .tabview [role="tabpanel"] p:not(.border) {
    opacity: 0;
  }
}
