.vertical-selector {
  min-height: 60vw;
}

.vertical-selector .default-viewer video {
  width: 100%;
}

.vertical-selector .default-viewer button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000b3;
  border: none;
  border-radius: 5vw;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
}

.vertical-selector .default-viewer button::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.8vw 0 0.8vw 1.6vw;
  border-color: transparent transparent transparent #fffc;
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.vertical-selector .fragment-selector svg > * {
  color: var(--text-color-background);
  fill: var(--text-color-background);
}

.vertical-selector .fragment-viewer > *:not(.vs-active) {
  display: none;
}

.vertical-selector .fragment-viewer *.vs-active h2,
.vertical-selector .fragment-viewer *.vs-active h3 {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.vertical-selector .fragment-viewer *.vs-active {
  min-height: 45vw;
  max-height: 45vw;
  z-index: 50;
  background-color: #fffffff0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.vertical-selector .fragment-viewer .vs-bkg {
  display:block;
  position: relative;
  z-index:-1;
}

.vertical-selector .fragment-viewer .vs-bkg picture {
  position: absolute;
  width:100%;
}

.vertical-selector .fragment-viewer .vs-bkg picture img {
  width: 100%;
  max-height:45vw;
}

.vertical-selector .fragment-viewer .video-group {
  display: flex;
  padding: 0;
  margin: 0;
}

.vertical-selector .close-viewer span.icon-close svg > * {
  fill: var(--static-color-black);
  color: var(--static-color-black);
}

.vertical-selector .close-viewer span.icon-close:not(.vs-active) {
  opacity: 0;
  display: none;
}

.vertical-selector .close-viewer span.icon-close.vs-active {
  height: 40px;
  width: 40px;
  right: 64px;
  position: absolute;
  z-index: 2;
  margin: 20px 20px 0 0;
  opacity: 1;
}

.vertical-selector .close-viewer span.icon-close.vs-active.animate {
  animation: fade-in-right 0.5s ease-out;
}

.vertical-selector .fragment-selector {
  margin: 0;
}

.vertical-selector .fragment-selector > div {
  display: flex;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--neutral-color);
  padding: var(--layout-size-s) var(--layout-size-l);
  position: relative;
  z-index: 25;
}

.vertical-selector .fragment-selector > div div.animate {
  animation: fade-in-from-none 0.5s ease-out;
}

.vertical-selector .fragment-selector p {
  color: var(--text-color-background);
  text-transform: uppercase;
  margin: 0 var(--layout-size-m) 0 0;
}

.vertical-selector .fragment-selector > div .icon {
  margin-top: 3px;
}

.vertical-selector .fragment-selector > div .icon-check {
  display: none;
}

.vertical-selector .fragment-selector > div.vs-active .icon-check {
  display: inline-block;
}

.vertical-selector .fragment-selector > div.vs-active .icon-arrow-small {
  display: none;
}

.vertical-selector .fragment-selector .icon-arrow-small svg {
  transform: rotate(180deg);
  transform-origin: center center;
}

