.columns {
  --stats-heading-text-color: var(--secondary-text-color-background);
  --stats-body-text-color: var(--text-color-background);
}

.section.columns-container.highlight .columns {
  background-color: var(--background-color);
  color: var(--text-color);
}

.columns > div {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-xl);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  flex: 1;
}

.columns > div > div > *:first-child {
  margin-top: 0;
}

.columns > div > div > *:last-child {
  margin-bottom: 0;
}

.columns.heading > div {
  gap: 15vw;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.icon-list > div {
  text-align: center;
  gap: 0;
  background-color: var(--background-color);
  opacity: 0.95;
}

.columns.stats > div {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-color);
  text-align: center;
  padding: var(--layout-size-l);
}

.columns.stats.border > div {
  margin-top: -2.8%;
  padding-top: 2.8%;
}

.columns.stats.background-image > div {
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.columns.stats.primary > div {
  background-color: var(--primary-color);
}

.columns.stats.neutral > div {
  background-color: var(--neutral-color);
}

.columns.stats.wide > div {
  column-gap: 5px;
  text-align: unset;
  padding: unset;
}

.columns.stats > div h2 {
  font-family: var(--static-body-font-family);
  font-weight: 700;
  font-size: clamp(1.5rem, 2.465vw + 0.576rem, 2.375rem);
  color: var(--stats-heading-text-color);
  margin-bottom: 0;
}

.columns.stats > div p {
  font-family: var(--static-body-font-family);
  color: var(--stats-body-text-color);
  margin-top: 0.5em;
}

/* ICONS: Text area */
.columns.icon-list p:last-child {
  margin: 0 20%;
  line-height: 1.5;
  color: var(--secondary-color);
  font-size: 2vw;
  word-wrap: break-word;
}

.columns.icon-list > div > div:not(:last-child) {
  border-right: 1px solid var(--secondary-color);
}

.columns.icon-list p:first-child {
  height: auto;
  width: 100%;
  margin: 39px 0 0;
}

.columns.icon-list span.icon {
  height: auto;
  width: 45%;
  opacity: 1;
  margin: 0 auto;
}

.columns.stats.wide > div > div {
  background-color: transparent;
  background-image: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  padding: 3rem 3rem 1rem;
}

.columns.heading > div > div:first-child {
  flex: unset;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.image-overlay {
  margin: 0 auto;
}

.columns.image-overlay > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1.5;
  padding: var(--layout-size-xl) var(--layout-size-xxl);
}

.columns.image-overlay > div > div:first-child {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.columns.image-overlay > div > div > p:last-child img {
  position: relative;
  max-width: 85%;
  top: -90px;
  left: 40px;
  height: 30%;
}

.columns.image-overlay > div > div > p:first-child img {
  position: relative;
  max-width: 90%;
  left: 130px;
  top: -80px;
  z-index: 1;
}
