.columns-container.highlight .columns {
  background-color: var(--background-color);
  color: var(--text-color);
}

.columns > div {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-xl);
}

.columns img {
  width: 100%;
}

.columns > div > div {
  flex: 1;
}

.columns > div > div > *:first-child {
  margin-top: 0;
}

.columns > div > div > *:last-child {
  margin-bottom: 0;
}

.columns.heading > div {
  gap: 15vw;
}

.columns-container.highlight .columns h2,
.columns-container.highlight .columns h3 {
  color: var(--text-color-highlight);
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-container.highlight .stats {
  background-color: transparent;
}

.columns.stats > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  column-gap: 0.5rem;
  text-align: start;
}

.columns.stats > div > div {
  height: 208px; 
  background-color: transparent;
  background-image: linear-gradient(0deg, #0076C0 0%, #001E5B 100%);
  padding: 3rem 3rem 0;
  color: white;
}

.columns.stats-fragment {
  display: flex;
  flex-direction: column;

}

.columns.stats-fragment > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 0;
  height: 10rem;
  text-align: center;
  background-color: var(--stats-text-background-color);
  background-size: cover;
  background-position: center;
  background-image: var(--stats-background-image);
}

.columns.stats-fragment > div:first-child img {
  position: relative;
  top: 3rem;
  transform: rotate(180deg);
  background-color: var(--stats-border-background-color);
  filter: var(--stats-border-filter);
}

.columns.stats-fragment > div:first-child {
  background-color: var(--primary-color);
}

.columns.stats-fragment > div:nth-child(2) > div > h2 {
  padding-top: 3rem;
  color: var(--stats-text-h2);
}

.columns.stats-fragment > div:nth-child(2) > div > p {
  color: var(--stats-text-p);
} 

.columns.stats-fragment > div:last-child:has(img) {
  height: 0;
  filter: drop-shadow(#00000080 0 4px 1px);
  z-index: 1;
}

.columns.heading > div > div:first-child {
  flex: unset;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns.image-overlay {
  margin: 0 auto;
}

.columns.image-overlay > div > div:last-child {
  flex-grow: 1.5;
  padding: 150px;
}

.columns.image-overlay > div > div:first-child {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.columns.image-overlay > div > div > p:last-child img {
  position: relative;
  max-width: 85%;
  top: -90px;
  left: 40px;
  height: 30%;
}

.columns.image-overlay > div > div > p:first-child img {
  position: relative;
  max-width: 90%;
  max-height: auto;
  left: 130px;
  top: -80px;
  z-index: 1;
}