.video-wrapper .video {
  position: absolute;
  width: calc(50%);
  margin-top: calc(12.5%);
  margin-left: calc(25%);
}

.video-wrapper {
  position: relative;
}

.default-content-wrapper {
  position: relative;
}

.default-content-wrapper > p > picture {
  position: absolute;
  z-index: -1;
}