.video.block .video-content video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.section.video-container .video-wrapper {
  position: relative;
}

.section.video-container .video-wrapper .video {
  position: absolute;
}

.section.video-container {
  padding: 0;
}

/* Product hero with video in background */
.section.video-container.video-background .video-wrapper .video {
  position: absolute;
  z-index: -1;
}

/* Product hero with video in foreground, image in background */
.section.video-container:not(.video-background) .video-wrapper .video {
  width: 100%;
}

.section.video-container:not(.video-background) .default-content-wrapper {
  position: relative;
  max-width: unset;
}

.section.video-container:not(.video-background) .default-content-wrapper > p > picture {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 100%;
  height: auto;
  object-fit: contain;
  align-items: center;
  justify-content: center;
}

.section.video-container:not(.video-background) .default-content-wrapper > p.picture {
  margin-block-start: -1em;
}