.video.block .video-content video {
  object-fit: cover;
  width: 100%;
  height: auto;
}

main .section.background-video .video.block {
  position: relative;
}

main .section.background-video {
  padding: 0;
  margin-block-start: -1em;
}

main .section.background-video .video.block .video-content video {
  position: absolute;
  z-index: -1;
}

main .section.background-video .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}

main .section.background-video .default-content-wrapper > picture:first-child > img {
  width: calc(60%);
  border: 1px solid green;
}

main .section.background-video .default-content-wrapper > picture:nth-child(2) > img {
  width: calc(60%);
  border: 1px solid red;
}