/* portfolio block CSS */

.portfolio-container h2 {
  position: relative;
  padding-bottom: var(--layout-size-m);
  margin: 2.5em 0 1em;
}

.portfolio-container h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84px;
  border-bottom: 2px solid var(--text-color-background);
}

.portfolio-container h2.animate,
.portfolio-container h3.animate {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in-bottom;
}

.portfolio ul.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--layout-size-m);
  list-style: none;
}

.portfolio ul.portfolio-grid li {
  aspect-ratio: 1;
  background-color: var(--background-color);
}

.portfolio ul.portfolio-grid li > a {
  position: relative;
  display: block;
  height: 100%;
  padding: var(--layout-size-xs);
  text-decoration: none;
}

.portfolio ul.portfolio-grid li > a::before {
  content: '';
  position: absolute;
  display: block;
  margin: var(--layout-size-xs);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid var(--primary-color);

}


.portfolio ul.portfolio-grid li > a > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  transition: transform .5s ease;
  overflow: hidden;
}

.portfolio ul.portfolio-grid li > a:hover > div {
  transform: scale(1.075);
}

.portfolio ul.portfolio-grid li p {
  margin: 0 var(--layout-size-xs);
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
}

.portfolio ul.portfolio-grid li p.variant {
  font-size: clamp(0.625rem, 0.195vw + 0.575rem, 0.75rem);
}

.portfolio ul.portfolio-grid li p.picture {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
}

.portfolio ul.portfolio-grid li p.picture-1 {
  transform: translateX(-75%);
}

.portfolio ul.portfolio-grid li p.picture-2 {
  z-index: 10;
}

.portfolio ul.portfolio-grid li p.picture-3 {
  transform: translateX(75%);
}

@media (prefers-reduced-motion: no-preference) {
  .portfolio-container h2,
  .portfolio-container h3 {
    opacity: 0;
  }
}