/* portfolio block CSS */

.portfolio ul.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: var(--layout-size-m);
  list-style: none;
}

.portfolio ul.portfolio-grid li {
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1;
  background-color: var(--background-color);
  padding: var(--layout-size-s);
  border: 1px solid var(--primary-color);
}

.portfolio ul.portfolio-grid li > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  border: 1px solid var(--primary-color);
}

.portfolio ul.portfolio-grid li p {
  margin: 0 var(--layout-size-xs);
  color: var(--primary-color);
  font-weight: 500;
  text-align: center;
}

.portfolio ul.portfolio-grid li p.variant {
  font-size: clamp(0.625rem, 0.195vw + 0.575rem, 0.75rem);
}

.portfolio ul.portfolio-grid li p.picture {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 20%;
}

.portfolio ul.portfolio-grid li p.picture-1 {
  transform: translateX(-75%);
}

.portfolio ul.portfolio-grid li p.picture-2 {
  z-index: 10;
}

.portfolio ul.portfolio-grid li p.picture-3 {
  transform: translateX(75%);
}