/* block specific CSS goes here */

main .hero-container {
  position: relative;
  padding: 0;
}

main .hero-container > div {
  max-width: unset;
}
  
main .hero {
  padding: 32px;
  max-width: 500px;
  min-height: 720px;
  margin-left: auto;
  margin-right: auto;

}

main .hero > div > div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

main .hero h1 {
  color: var(--text-color-background);
  text-align: center;
}

main .hero picture {
  display: block;
}

main .hero picture:first-child {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero picture:nth-child(2) {
  margin-bottom: calc(2 * var(--layout-size-xxl));
  width: 252px;
}

main .hero picture:nth-child(3) {
  width: 64px;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
