/* billboard css */
.billboard.block .content-holder{
  display: flex;
  flex-direction: column;
  border: 3px solid red;
}

.billboard.block .logo-row-layout{
  display: flex;
  flex-direction: row;
  border: 3px solid green;
}

.billboard.block .main-row-layout{
  display: flex;
  flex-direction: row;
  border: 3px solid blue;
}

.billboard.block .products-row-layout{
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  border: 3px solid purple;
}

.billboard.block .products-row-layout img{
  max-height: 20vh;
}

/* bottom layer */
.billboard.block .backdrop-image {
  z-index: 1;
  position: relative;
  text-align: center;
  opacity: 0.70;
}

.billboard.block .backdrop-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

