/* billboard css */
.billboard.block .content-holder {
  display: flex;
  flex-direction: column;
}

.billboard.block .logo-row-layout {
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
}

.billboard.block .logo-row-layout > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.billboard.block .main-row-layout {
  display: flex;
  flex-direction: row;
}

.billboard.block .main-row-layout > div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billboard.block .main-row-layout > div:last-child {
  display: unset;
  text-align: right;
}

.billboard.block .main-row-layout > div:first-child {
  display: unset;
  text-align: left;
}

.billboard.block .main-row-layout img {
  max-width: 30vw;
}

.billboard.block .products-row-layout {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  overflow: hidden;
  z-index: 2;
  align-items: center;
}

.billboard.block .products-row-layout>div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
}

.billboard.block .products-row-layout>div:first-child {
}

.billboard.block .products-row-layout>div:first-child picture{
}

.billboard.block .products-row-layout>div:first-child img{
  max-height: 20vw;
  min-height: 20vw;
  margin-bottom: -1.5em;
}


.billboard.block .products-row-layout>div:last-child {
}

.billboard.block .products-row-layout>div:last-child picture{
}

.billboard.block .products-row-layout>div:last-child img{
  max-height: 20vw;
  min-height: 20vw;
  margin-bottom: -1.5em;
}

.billboard.block .products-row-layout img {
  max-height: 20vh;
  margin-top: 2rem;
}

/* bottom layer */
.billboard.block .backdrop-image {
  z-index: 1;
  position: relative;
  opacity: 0.50;
  width: 100%;
  bottom: 0;
}

.billboard.block .backdrop-image picture {
  position: absolute;
  object-fit: fill;
  width: 100%;
  margin-top: -18.5%;
}

.billboard.block .backdrop-image img {
  width: 100%;
}