/* select comparison-wrapper that has a child having .wood-table class */
.vs-active.wood-table:after {
    content: " ";
    display: block;
    width: 100%;
    margin-top: calc(-9vw);
    height: 10vw;
    background: url(https://media-s3-us-east-1.ceros.com/southern-glazers/images/2023/04/18/1ec7669e44ab282115f474839b13461c/wood-table-top-on-light-blur-background-empty-brown-wood-table-image.jpg?imageOpt=1&fit=bounds&width=2600&crop=4000,539,x0,y1764);
    background-size: cover;
    z-index: index 10;
}

.comparison-wrapper {
    flex-grow: 1;
    max-height: calc(39.5vw);
    z-index:20;
}

.comparison.size.block {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
    width: fit-content;
    column-gap: 50px;
    transform-origin: top center;
}

.comparison.size.block > div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.comparison.size.block > div > div:nth-child(2n) {
    margin-top: 10px;
}

@media screen and (min-width: 1540px) {
    .comparison.size.block {
        padding-top:8vw;
    }
}

@media screen and (max-width: 1275px) {
    .comparison.size.block {
        transform: scale(0.95);
    }
}

@media screen and (max-width: 1225px) {
    .comparison.size.block {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 1150px) {
    .comparison.size.block {
        transform: scale(0.85);
    }
}

@media screen and (max-width: 1100px) {
    .comparison.size.block {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1025px) {
    .comparison.size.block {
        transform: scale(0.7);
    }
}

@media screen and (max-width: 900px) {
    .comparison.size.block {
        transform: scale(0.6);
        padding-top:unset;
    }
}

@media screen and (max-width: 800px) {
    .comparison.size.block {
        transform: scale(0.5);
        padding-top:4em;
    }
}

@media screen and (max-width: 675px) {
    .comparison.size.block {
        transform: scale(0.45);
        padding-top:8em;
    }
}
