/* select comparison-wrapper that has a child having .wood-table class */
.vs-active.wood-table::after {
  content: " ";
  display: block;
  width: 100%;
  margin-top: calc(-9vw);
  height: 10vw;
  background: url("/styles/wood-table-top.avif");
  background-size: cover;
  z-index: 10;
}

.comparison-wrapper {
  flex-grow: 1;
  max-height: calc(39.5vw);
  z-index: 20;
  margin-bottom: 1rem;
}

.comparison.size.block {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 auto;
  width: fit-content;
  column-gap: 50px;
  transform-origin: top center;
}

.comparison.bottles.block {
  margin: 0 auto;
  width: fit-content;
}

.comparison.size.block > div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.comparison.bottles.block .bottles-comparison-holder > div {
  text-align: center;
}

.comparison.size.block > div > div:nth-child(2n) {
  margin-top: 10px;
}

.comparison.bottles.block .bottles-comparison-holder {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.comparison.bottles.block .main-bottle-grid {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  padding-left: 15%;
  max-height: 100%;
}

.comparison.bottles.block .main-bottle-grid .picture img {
  max-height: 100%;
  width: auto;
}

.comparison.bottles.block .secondary-bottle-grid {
  display: flex;
  flex-direction: row;
  z-index: -1;
  transform-origin: left bottom;
  transform: scale(0.8);
  gap: 4vw;
  max-height: 100%;
}

.comparison.bottles.block .secondary-bottle-grid .picture img {
  max-height: 100%;
  width: auto;
}

.comparison.bottles.block .secondary-bottle-grid > :first-child {
  filter: grayscale(0.8);
}

/* Media queries for size comparison block */
@media screen and (min-width: 2000px) {
  .comparison.size.block .bottles-comparison-placeholder {
    height: 8vw;
  }

  .comparison.bottles.block .secondary-bottle-grid {
    margin-left: -3em;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1540px) {
  .comparison.size.block {
    padding-top: 8vw;
  }

  .comparison.bottles.block .bottles-comparison-placeholder {
    height: 4vw;
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 33vw;
  }

  .comparison.bottles.block .secondary-bottle-grid {
    margin-left: -2.5em;
    margin-bottom: 0.5;
    padding-right: 15%;
  }
}

@media screen and (max-width: 1275px) {
  .comparison.size.block {
    transform: scale(0.95);
  }

  .comparison.bottles.block .bottles-comparison-placeholder {
    height: 2vw;
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 32vw;
  }

  .comparison.bottles.block .secondary-bottle-grid {
    margin-left: -1.25em;
    padding-right: 20%;
  }
}

@media screen and (max-width: 1225px) {
  .comparison.size.block {
    transform: scale(0.9);
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 31.75vw;
  }

  .comparison.bottles.block .secondary-bottle-grid {
    margin-left: -1.75em;
    padding-right: 20%;
  }
}

@media screen and (max-width: 1150px) {
  .comparison.size.block {
    transform: scale(0.85);
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 31.5vw;
  }
}

@media screen and (max-width: 1100px) {
  .comparison.size.block {
    transform: scale(0.8);
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 31vw;
  }
}

@media screen and (max-width: 1025px) {
  .comparison.size.block {
    transform: scale(0.7);
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 30vw;
  }
}

@media screen and (max-width: 900px) {
  .comparison.size.block {
    transform: scale(0.6);
    padding-top: unset;
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 28vw;
  }
}

@media screen and (max-width: 800px) {
  .comparison.size.block {
    transform: scale(0.5);
    padding-top: 4em;
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 25vw;
  }
}

@media screen and (max-width: 675px) {
  .comparison.size.block {
    transform: scale(0.45);
    padding-top: 8em;
  }

  .comparison.bottles.block .bottles-comparison-holder > div {
    max-height: 23vw;
  }
}