.poster.block {
  display: flex;
  flex-direction: row;
}

.poster.block .content-holder {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
}

.poster.block .poster-image-holder {
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
}

.poster.block .logo-row-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.poster.block .teaser-row-layout,
.poster.block .title-row-layout {
  text-align: center;
}

.poster.block .product-row-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.poster.block .product-row-layout > div:nth-child(2) {
  text-align: center;
}

.poster.block .product-row-layout .picture {
  border: 3 px solid blue;
}

.poster.block .product-row-layout img {
  height: 20%;
}