.chart-map.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-map.block .partners-holder {
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  position: absolute;
  border: 1px solid var(--primary-color);
  box-shadow: var(--primary-color) 0 0 5px 0;
  background-color: var(--secondary-color);
}

.chart-map.block .partners-holder img {
  max-width: 15vw;
  height:auto;
}

.chart-map.block .partners-holder  > a:first-of-type {
  margin-top: 5px;
}

.chart-map.block .partners-holder-close {
  text-align: right;
  line-height: unset;
  margin-top: -1rem;
  margin-right: -1rem;
  position: absolute;
  right: 1rem;
  left: auto;
}

.chart-map.block .partners-holder-close button {
  height: 40px;
  width: 40px;
  line-height: unset;
  padding: unset;
  border: unset;
  min-width: unset;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.chart-map.block .partners-holder-close button svg {
  min-height: 30px;
  min-width: 30px;
}

.chart-map.block .partners-title-region {
  text-align: center;
  margin-top: -0.5rem;
}

.chart-map.block .map-holder {
  margin-left: -4rem;
  margin-top: -4rem;
  margin-bottom: -3.5rem;
}

.chart-map.block .hidden {
  display: none !important;
}