.chart-map.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-map.block .partners-holder {
  display: flex;
  flex-direction: column;
  background-color: var(--static-color-white);
  padding: 1.5vw;
  position: absolute;
}

.chart-map.block .partners-holder img {
  max-width: 15vw;
  height:auto;
}

.chart-map.block .map-holder{
  margin-left: -4rem;
  margin-top: -4rem;
  margin-bottom: -3.5rem;
}

.hidden {
  display: none !important;
}