/* footer styles */

footer {
  position: relative;
  background-color: var(--secondary-color);
  padding: var(--layout-size-xl);
}

.presentation footer {
  background-image: var(--background-color-highlight);
  padding: 122px 80px;
}

.product footer {
  background-color: var(--primary-color);
  padding : 0;
}

footer h2,
footer p {
  color: var(--static-color-white);
}

footer h2.animate,
footer p.animate {
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in-bottom;
}

.footer a.button:any-link,
.footer button {
  width: 25vw;
  height: 5vw;
  line-height: 5vw;
  border: 2px solid #fff;
  background-color: var(--secondary-color);
  transition: 0.5s;
}

.footer a.button:hover,
.footer button:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

footer .sources {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255 255 255 / 95%);
  overflow: hidden;
  padding: 2vw 4vw;
  font-size: clamp(0.5rem, 0.704vw + 0.236rem, 0.75rem);
}

footer .sources.open {
  display: block;
}

footer .sources .header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--layout-size-xl);
}

footer .sources .header h2,
footer .sources .header p,
footer .sources .header button,
footer .sources .header a.button {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in;
}

footer .sources .header h2 {
  margin: 0;
  color: var(--text-color-highlight);
  text-transform: uppercase;
}

footer .sources .header .icon use {
  fill: var(--text-color-highlight);
}

footer .sources .header .sources-nav {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-s);
  align-items: center;
  color: var(--secondary-color);
}

footer .sources .header .sources-nav a {
  position: relative;
  width: 4em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: rgb(5 25 49 / 10%);
  border: none;
  appearance: none;
}

footer .sources .header .sources-nav a:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: zoom-center .25s linear;
  border-radius: 50%;
  background-color: #000;
}

footer .sources .header .sources-nav a.sources-next {
  transform: rotate(180deg);
}

footer .sources .header .sources-nav a > span.icon {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .sources .header .sources-nav p {
  color: var(--text-color-highlight);
  width: max-content;
  margin-left: var(--layout-size-m);
}

footer .sources .header button.close {
  display: inline-flex;
  flex-direction: column;
  min-width: unset;
  min-height: unset;
  width: unset;
  height: unset;
  background-color: unset;
  border: unset;
  line-height: unset;
}

footer .sources .header .close .icon {
  width: 3.5em;
  height: 3.5em;
}

footer .sources > div > div {
  display: flex;
  flex-direction: column;
}

footer .sources ol {
  counter-reset: orderedList;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fade-in-right;
}

footer .sources ol > li {
  list-style: none;
  counter-increment: orderedList;
  visibility: hidden;
  height: 0;
}

footer .sources ol > li.active {
  visibility: visible;
  height: unset;
}

footer .sources ol > li::marker {
  content: counter(orderedList) ")\a0";
}

.product .footer > div {
  display: flex;
  flex-flow: row nowrap;
  padding-left: var(--layout-size-l);
}

.product .footer p.picture {
  position: absolute;
  top: 0;
  margin: 0;
}

.product .footer p.picture.animate {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in-bottom;
}

.product .footer picture img {
  width: 8vw;
  height: auto;
}

.footer .footer-content > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 150px;
}

.footer .footer-content > div > div:first-child {
  flex: 1;
}

.footer .footer-content p.button-container {
  text-align: right;
}

.footer .footer-content p.picture {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--layout-size-s);
  margin: var(--layout-size-xl) 0;
}

.footer .footer-content > div > div:first-child p.picture img {
  width: 75px;
  height: 75px;
}

.footer .footer-content > div > div:last-child p.picture {
  justify-content: end;
}

.footer .footer-content > div > div:last-child p.picture img {
  width: 245px;
  height: auto;
}

.footer .footer-content > div > div:first-child h2 {
  font-size: clamp(calc(var(--heading-font-size-xl) * 0.5), 1.949vw + 0.621rem, var(--heading-font-size-xl));
  margin: 0;
}

.product .footer > div > div:first-child {
  display: flex;
  flex-flow: row nowrap;
}

@media (prefers-reduced-motion: no-preference) {
  .product footer p.picture {
    opacity: 0;
  }

  footer .footer .header button,
  footer .footer ol,
  footer .footer h2,
  footer .footer p {
    opacity: 0;
  }
}