.slides-wrapper {
  background-color: var(--primary-color);
}

.slides {
  --avatar-background-size: 241px;
  --avatar-size: 269px;
}

.slides .slide .icon use {
  fill: var(--text-color-background);
}

.slides h3,
.slides a:any-link,
.slides {
  color: var(--text-color-background);
}

.slides-wrapper > .slides h3 {
  display: inline-block;
  font-family: var(--secondary-heading-font-family);
  font-weight: var(--secondary-heading-font-weight);
  position: relative;
  padding-bottom: var(--layout-size-m);
  margin: 2.5em 0 1em;
  text-transform: uppercase;
}

.slides h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 84px;
  border-bottom: 2px solid var(--text-color-background);
}

.slides-wrapper > .slides p {
  font-family: var(--secondary-body-font-family);
}

.slides .slide {
  display: none;
}

.slides .slide.active {
  display: flex;
  flex-flow: row nowrap;
}

.slides .slide .avatar {
  position: relative;
  padding: var(--layout-size-xl);
}

.slides .slide.show-pairing .avatar {
  display: none;
}

.slides .slide .avatar picture:first-child {
  display: inline-flex;
  width: var(--avatar-background-size);
  height: var(--avatar-background-size);
  clip-path: circle(50% at 50% 50%);
}

.slides .slide .avatar picture:first-child img {
  object-fit: cover;
}

.slides .slide .avatar picture:last-child {
  position: absolute;
  top: calc(var(--layout-size-xl) - 14px);
  left: 50%;
  transform: translate(-50%, 0);
}

.slides .slide .avatar picture:last-child img {
  height: var(--avatar-size);
}

/* Pairs With View */
.slides .slide .toggle-pairs-with {
  display: inline-block;
  height: 43px;
  position: relative;
  top: 10px;
  left: 10px;
}

.slides .slide .toggle-pairs-with > * {
  padding: 0;
  height: 43px;
  width: 43px;
  min-width: 43px;
  text-align: left;
}

.slides .slide .toggle-pairs-with span.icon svg {
  height: 40px;
  text-align: left;
}

.slides .slide .toggle-pairs-with span.icon-pairs-circle svg,
.slides .slide .toggle-pairs-with span.icon-pairs-circle svg use {
  color: var(--background-color);
  fill: var(--background-color);
}

.slides .slide .toggle-pairs-with span.icon-pairs-covered svg use,
.slides .slide .toggle-pairs-with span.icon-pairs-glass svg use,
.slides .slide .toggle-pairs-with span.icon-pairs-covered svg,
.slides .slide .toggle-pairs-with span.icon-pairs-glass svg {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  width: 44px;
  position: absolute;
}

.slides .slide .toggle-pairs-with span.icon-pairs-covered svg {
  height: 21px;
  top: 27%;
}

.slides .slide .toggle-pairs-with span.icon-pairs-glass svg {
  height: 17px;
  top: 23%;
  margin-left: -9px;
}

.slides .slide .toggle-pairs-with:hover span.icon-pairs-circle svg {
  height: 45px;
  color: var(--secondary-color);
  fill: var(--secondary-color);
}

.slides .slide .toggle-pairs-with:hover span.icon-pairs-covered svg,
.slides .slide .toggle-pairs-with:hover span.icon-pairs-covered svg use,
.slides .slide .toggle-pairs-with:hover span.icon-pairs-glass svg,
.slides .slide .toggle-pairs-with:hover span.icon-pairs-glass svg use {
  color: var(--static-color-white);
  fill: var(--static-color-white);
}

/* Covered platter */
.slides .slide .toggle-pairs-with span.icon-pairs-covered {
  margin-left: -42px;
}

.slides .slide .pairs-with {
  display: grid;
  grid-template-columns: 370px auto 45px;
  column-gap: 16px;
  padding: var(--layout-size-l);
  padding-bottom: var(--layout-size-s);
}

.slides .slide.hide-pairing .pairs-with {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

.slides .slide.show-pairing .pairs-with p.animate,
.slides .slide.show-pairing .pairs-with h3.animate {
  opacity: 1;
  visibility: visible;
  display: grid;
  animation: fade-in-right 0.5s ease-out;
}

.slides .slide.show-pairing .pairs-with-meal.animate picture:first-child {
  animation: fade-in-from-none 0.25s ease-out;
}

.slides .slide.show-pairing .pairs-with-meal.animate picture:last-child {
  animation: fade-in-from-none 0.5s ease-out;
}

.slides .slide .pairs-with-meal picture:first-child img {
  margin-bottom: 16px;
  border: 6px solid white;
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: contain;
}

.slides .slide .pairs-with-meal picture:last-child img {
  height: var(--avatar-size);
  box-sizing: border-box;
  aspect-ratio: auto;
  object-fit: contain;
  margin-left: -24px;
}

.slides .slide .pairs-with-text {
  padding: var(--layout-size-xl) 0 0;
}

.slides .slide .pairs-with-text h3:first-child {
  margin: 0;
  display: block;
}

.slides .slide .pairs-with-text h3:first-child::after {
  border: none;
}

.slides .slide .pairs-with-text h3:not(:first-child) {
  margin-top: 0;
}

.slides .slide .pairs-close {
  flex-grow: 1;
  flex-basis: 0;
}

.slides .slide .pairs-close > * {
  padding: 2px;
}

.slides .slide .pairs-close span.icon {
  width: 41px;
  height: 41px;
}

/* End of Pairs With View */

.slides .slide > div:nth-child(2) {
  flex: 1;
  padding-right: 96px;
}

.slides .slide.show-pairing > div:nth-child(2) {
  display: none;
}

.slides-container .slide-nav {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--layout-size-s);
  align-items: center;
  color: var(--secondary-color);
}

.slides-container .slide-nav button {
  position: relative;
  width: 42px;
  height: 42px;
  min-width: unset;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: none;
  appearance: none;
}

.slides-container .slide-nav button:focus:not(:focus-visible) {
  outline: none
}

.slides-container .slide-nav button:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  animation: zoom-center .25s linear;
  border-radius: 50%;
  background-color: var(--static-color-white);
}

.slides-container .slide-nav button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 42px;
  height: 42px;
  transform: translate(-50%, -50%);
  background-color: var(--static-color-white);
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask: url('../../icons/arrow-small.svg') no-repeat 50% 50%;
  mask: url('../../icons/arrow-small.svg') no-repeat 50% 50%;
}

.slides-container .slide-nav button:hover::after {
  background-color: var(--secondary-color);
}

.slides-container .slide-nav button.slide-next::after {
  transform: translate(-50%, -50%) rotate(180deg);
}

.slides-container .slide-nav p {
  width: max-content;
}

.slides-container .slide-nav button.animate {
  animation-delay: 0s;
  animation-name: fade-in-right;
}

/* animations */
@media (prefers-reduced-motion: reduce) {
  .slides-container .slide-nav button {
    opacity: 0;
  }
}
