/* below the fold CSS goes here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allison:wght@400&display=swap');


@font-face {
  font-family: 'Futura PT Bold-Normal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/futuraptbold.woff') format('woff');
}

@font-face {
  font-family: 'Neutraface Text Book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/neutraface-text-book.woff') format('woff');
}

@font-face {
  font-family: 'Neutraface Text Demi';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/neutraface-text-demi.woff') format('woff');
}