/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* theme vars */
  --primary-color: #035fe6;
  --secondary-color: #136ff6;
  --overlay-color: #eee;

  /* colors */ --link-color: var(--primary-color);
  --link-color-hover: var(--secondary-color);
  --background-color: #fff;
  --background-color-overlay: var(--overlay-color);
  --background-color-highlight: linear-gradient(270deg, var(--primary-color), var(--secondary-color));
  --text-color: #000;
  --text-color-highlight: var(--secondary-color);
  --text-color-background: #fff;

  /* fonts */
  --heading-font-family: 'Futura PT Bold-Normal', sans-serif;
  --body-font-family: 'Roboto', sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 13px;
  --body-font-size-xs: 11px;

  /* heading sizes */
  --heading-font-size-xxl: 46px;
  --heading-font-size-xl: 38px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* layout sizes */
  --layout-size-xxl: 64px;
  --layout-size-xl: 32px;
  --layout-size-l: 24px;
  --layout-size-m: 16px;
  --layout-size-s: 12px;
  --layout-size-xs: 8px;
  --layout-size-xxs: 4px;

}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

/* theme overrides */
body.constellation {
  --primary-color: #0076c0;
  --secondary-color: #001e5b;
  --background-color-highlight: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  --text-color-highlight: var(--primary-color);
  --link-color: var(--primary-color);
  --link-color-hover: var(--primary-color);
}

body.appear {
  display: unset;
}

header, footer {
  display: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  color: var(--text-color-highlight);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-l)
}

h3 {
  font-size: var(--heading-font-size-m)
}

h4 {
  font-size: var(--heading-font-size-s)
}

h5 {
  font-size: var(--heading-font-size-xs)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-color);
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

/* buttons */
p.button-container {
  margin: var(--layout-size-xs) 0;
}

a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  min-width: 220px;
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  padding: 0 var(--layout-size-l);
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  color: var(--text-color-background);
  background-color: var(--link-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-color-hover);
  cursor: pointer;
}

.button-full a.button:any-link, .button-full button {
  width: 100%;
  text-align: right;
}

button:disabled, button:disabled:hover {
  background-color: var(--background-color-overlay);
  cursor: unset;
}

a.button > strong {
  font-weight: normal;
}

a.button.has-icon > strong {
  display: inline-flex;
  align-items: center;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 1px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.button .icon {
  width: 50px;
  height: 50px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: var(--layout-size-xxl);
}

/* section metadata */
main .section.highlight:not(.has-background-image) {
  /* background styles, unless a background image is used. */
  background-image: var(--background-color-highlight);
  color: var(--text-color-background);
}

main .section.highlight:not(.has-background-image) h2,
main .section.highlight:not(.has-background-image) h3 {
  /* background styles, unless a background image is used. */
  color: var(--text-color-background);
}

main .section.has-background-image {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}

main .section.has-background-image > .section-background {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .section.has-background-image > .section-background img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

@media (min-width: 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}
