/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Above the fold CSS font fallbacks */
@font-face {
  font-family: 'Futura PT Bold-Normal Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 98.87%;
  descent-override: 30.20%;
  line-gap-override: 0.00%;
  size-adjust: 99.33%;
}

:root {
  /* static vars */
  --static-color-white: #fff;
  --static-color-black: #000;
  --static-heading-font-family: var(--heading-font-family);
  --static-body-font-family: var(--body-font-family);

  /* theme vars */
  --primary-color: #035fe6;
  --secondary-color: #136ff6;
  --neutral-color: #eee;
  --background-color: var(--static-color-white);
  --text-color: var(--static-color-black);
  --text-color-background: var(--static-color-white);
  --text-secondary-color-background: #f2f2f2;
  --link-color-background: #d1d1d1;
  --secondary-text-color-background: var(--text-color-background);
  --heading-font-size: 2rem;
  --body-font-size: 1rem;
  --heading-font-family: 'Futura PT Bold-Normal', 'Futura PT Bold-Normal Fallback', sans-serif;
  --secondary-heading-font-family: var(--heading-font-family);
  --body-font-family: 'Roboto', sans-serif;
  --secondary-body-font-family: var(--body-font-family);
  --heading-font-weight: normal;
  --secondary-heading-font-weight: var(--heading-font-weight);

  /* Other colors */
  --nav-home-color: #001E5B;
  --nav-footer-hover-color: #E5E5E5;

  /* fluid font sizing */
  --min-vw: 600;
  --min-vw-px: calc(var(--min-vw) * 1px);
  --max-vw: 1168;
  --viewport-run: calc(var(--max-vw) - var(--min-vw));

  /* body sizes */
  --body-font-size-min: 0.75rem;
  --body-font-size-max: var(--body-font-size);

  /* heading sizes */
  --heading-font-size-xxl: calc(var(--heading-font-size) + 0.875rem);
  --heading-font-size-xl: calc(var(--heading-font-size) + 0.375rem);
  --heading-font-size-l: var(--heading-font-size);
  --heading-font-size-m: calc(var(--heading-font-size) - 0.5rem);
  --heading-font-size-s: calc(var(--heading-font-size) - 0.75rem);
  --heading-font-size-xs: calc(var(--heading-font-size) - 0.875rem);

  /* layout sizes */
  --layout-size-xxl: 64px;
  --layout-size-xl: 32px;
  --layout-size-l: 24px;
  --layout-size-m: 16px;
  --layout-size-s: 12px;
  --layout-size-xs: 8px;
  --layout-size-xxs: 4px;

}

body {
  /* theme colors */
  --background-color-highlight: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  --text-color-highlight: var(--primary-color);
  --link-color: var(--primary-color);
  --link-color-hover: var(--primary-color);

  font-size: clamp(var(--body-font-size-min), 0.704vw + 0.486rem, var(--body-font-size-max));
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.75;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  display: none;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  color: var(--text-color-highlight);
}

h1 {
  font-size: clamp(calc(var(--heading-font-size-xxl) * 0.5), 2.242vw + 0.857rem, var(--heading-font-size-xxl));
}

h2 {
  font-size: clamp(calc(var(--heading-font-size-l) * 0.5), 1.559vw + 0.596rem, var(--heading-font-size-l));
}

h3 {
  font-size: clamp(calc(var(--heading-font-size-m) * 0.5), 1.17vw + 0.447rem, var(--heading-font-size-m));
}

h4 {
  font-size: var(--heading-font-size-s);
}

h5 {
  font-size: var(--heading-font-size-xs);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--neutral-color);
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-color-hover);
}

/* buttons */
p.button-container {
  margin: var(--layout-size-xs) 0;
}

button {
  font-size: inherit;
  border: none;
  appearance: none;
}

a.button:any-link, button {
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid transparent;
  padding: 0 var(--layout-size-l);
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: var(--text-color-background);
  background-color: var(--link-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button:hover,
a.button:focus {
  background-color: var(--link-color-hover);
  cursor: pointer;
}

a:any-link:not(.button) {
  font-weight: 700;
}

a:any-link.button > strong {
  font-weight: normal;
}

a:any-link.button > em {
  font-style: normal;
}

a.has-icon,
a.button.has-icon > strong,
a.button.has-icon > em {
  display: inline-flex;
  align-items: center;
}

a.button.secondary {
  background-color: unset;
  border: 1px solid currentcolor;
  color: var(--text-color)
}

a:any-link span.icon-arrow-small {
  transform: rotate(180deg);
}

.button-full a.button:any-link {
  width: 100%;
  text-align: right;
}

/* Default animations for presentation template */
.presentation main .animate {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.presentation main h1.animate,
.presentation main h2.animate,
.presentation main h3.animate,
.presentation main p:not(.border).animate {
  animation-name: fade-in-bottom;
}

/* Default animations for product template */
.product main .animate {
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.product main .stats h1.animate,
.product main .stats h2.animate,
.product main .stats h3.animate,
.product main .stats p.animate  { 
  animation-name: fade-in-right;
}


main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.button .icon {
  width: 50px;
  height: 50px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: var(--layout-size-xxl);
}

/* section metadata */
main .section.primary {
  background-color: var(--primary-color);
  color: var(--text-color-background);
}

main .section.secondary {
  background-color: var(--secondary-color);
}

main .section.highlight:not(.background-image) {
  /* background styles, unless a background image is used. */
  background-image: var(--background-color-highlight);
  color: var(--text-color-background);
}

main div.section.banner > div p,
main div.section.banner > div h3 {
  width: 14vw;
  margin: 0;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fade-in-bottom;
}

main .section.highlight.dark h2,
main .section.highlight.dark h3,
main .section.highlight:not(.background-image) h2,
main .section.highlight:not(.background-image) h3 {
  /* background styles, unless a background image is used. */
  color: var(--text-color-background);
}

main .section.background-image {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
}

main .section.background-image > picture {
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

main .section.background-image > picture img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

main .section.background-video {
  padding: 0;
  overflow: hidden;
}

main .section.background-video:has(.default-content-wrapper) {
  margin-block-start: -1em;
}

main .section.background-video:not(:has(.default-content-wrapper)) {
  min-height: 50vw;
}

main .section.background-video .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
}

main .section.background-video .default-content-wrapper > p.picture:first-child > picture > img {
  width: calc(25vw);
  margin-bottom: 7.5vw;
}

main .section.background-video .default-content-wrapper > p.picture:nth-child(2) > picture > img {
  width: calc(5vw);
}

main .section.background-video .default-content-wrapper h1 {
  font-style: normal;
  font-size: 4vw;
  color: var(--text-color-background);
  font-family: var(--heading-font-family);
  line-height: 4vw;
  letter-spacing: 0.125vw;
}

/* product template styling */
.product main .section.primary,
.product main .section.secondary,
.product main .section {
  width: auto;
  height: auto;
}

.product main .section.primary:has(div:only-child),
.product main .section.secondary:has(div:only-child) {
  padding: var(--layout-size-l) var(--layout-size-xxl);
}

.product main .section.primary > div:only-child p.picture,
.product main .section.secondary > div:only-child  p.picture {
  margin: 0 auto;
  text-align: center;
  width: 25vw;
}

/* icon sprite styling */
svg#franklin-svg-sprite symbol {
  fill: inherit!important;
}

.icon svg use {
  fill: #fff;
}

/* border styling */

/* TODO: remove brand specific styling for borders */
main .section .default-content-wrapper .border-0,
main .section .default-content-wrapper .border-1 {
  margin-top: -1vw;
  margin-bottom: -3.2vw;
  background-size: cover;
  background-repeat: no-repeat;
  height: 4vw;
}

main .section .default-content-wrapper .border-0 {
  transform: rotate(180deg);
}

main .section .outback .default-content-wrapper .border-0 {
  filter: drop-shadow(0 -4px 1px #00000080);
}

main .section .outback .default-content-wrapper .border-1 {
  filter: drop-shadow(0 4px 1px #00000080);
}

main .back-to-home {
  padding: 0;
  background-color: var(--nav-home-color);
  width: 3%;
  min-width: 43px;
  height: 6%;
  min-height: 43px;
  margin-top: -25px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 50%;
  z-index: 256;
  border-width: 0;
  border-radius: 2px;
}

main .back-to-home div {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 24px;
  transform: translateY(-50%);
}

main .back-to-home span.icon {
  fill: white;
}

/* BANNER */
main div.section.banner {
  padding: 0;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: background-from-right;
  background: linear-gradient(to right, var(--background-color) 50%, var(--text-secondary-color-background) 50%) left;
  background-size: 200%;
  transition: .5s ease-out;
}

main div.section.banner:hover {
  background-position: right;
}

main div.section.banner > div {
  display: flex;
  gap: 16px;
  margin-left: 32vw;
  margin-right: 32vw;
  align-items: center;
}

main div.section.banner > div > *:nth-child(odd) {
  text-align: right;
  margin: var(--layout-size-xs) 0;
}

/* animations */
@media (prefers-reduced-motion: no-preference) {
  .presentation main .default-content-wrapper > h1,
  .presentation main .default-content-wrapper > h2,
  .presentation main .default-content-wrapper > h3,
  .presentation main .default-content-wrapper > p:not(.border) {
    opacity: 0;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to { opacity: 1 }
  }

  @keyframes fade-in-bottom-higher {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      bottom: 0;
      height: auto;
    }
  }

  @keyframes fade-in-bottom {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to { opacity: 1 }
  }

  @keyframes fade-in-right {
    from {
      opacity: 0;
      transform: translateX(25%);
    }
    to { opacity: 1 }
  }

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-25%);
    }

    to {
      opacity: 1;
    }
  }

  @keyframes zoom-center {
    from {
      opacity: 0;
      transform: scale(0);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fade-in-from-none {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }

  @keyframes background-from-right {
    0% {
      background-position: left;
    }

    100% {
      background-position: right;
    }
  }

  /* Make a small left/right rotation/wiggle 6 times, then wait half the animation time and do it again. */
  @keyframes small-rotation {
    0% {
      transform: rotate3d(0, 0, 1, 0deg);
    }

    2% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    6% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    10% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    14% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    18% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    22% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    26% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    30% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    34% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    38% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    42% {
      transform: rotate3d(0, 0, 1, -8deg);
    }

    46% {
      transform: rotate3d(0, 0, 1, 8deg);
    }

    50% {
      transform: rotate3d(0, 0, 1, 0deg);
    }

    100% {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
}
